.user-column {
  display: flex;
  opacity: 0.5;

  &--is-active {
    opacity: 1;
  }
}

.user-column-info {
  display: inline-flex;
  justify-content: center;
  &__pic img{
    border-radius: 50%;
  }
}

.deck-block {
  display: inline-flex;
}
