$strip-color-1: #e0e0e0;
$yellow: #f8ffa1;
* {
  box-sizing: border-box;
}
@function grad($size) {
  @return linear-gradient(
                  to bottom,
                  transparent,
                  transparent 10px,
                  $strip-color-1 10px,
                  $strip-color-1 11px,
                  transparent 11px,
                  transparent
  );
}

* {
  margin: 0;
  padding: 0;
}
.test-app {
  font: 10px Arial;
  display: inline-block;
  border: 1px solid grey;

  background: grad(size);
  background-size: 20px 20px;

  &__left {
    display: inline-block;
    width: 400px;
    padding: 0 0.8em;
  }

  &__right {
    vertical-align: top;
    display: inline-block;
    width: 252px;
  }

  input {
    display: block;
    border: 2px solid black;
    padding: 0.2em 2em;
    margin: 0.5em;

    &[type="submit"] {
      border-radius: 4px;
    }
  }


  h2 {
    font-size: 2.2em;
  }
}

.test-app-discount {
  input {
    display: inline-block;
  }

  &__input {
    width: 2ex;
  }
}

.test-app-tip {
  position: relative;
  background-color: $yellow;
  background-image: grad(20px);
  background-size: 2em 2em;
  margin: 2em 1em 2em 0.5em;
  padding: 1em 3em 0em 2.5em;
  vertical-align: center;
  border: 1px solid #bcbcbc;
  border-bottom: none;

  &:before {
    display: block;
    position: absolute;
    left: 2em;
    top:0;
    bottom: 0;
    content: '';
    border-left: 1px solid #ffb1ac;
  }

  &__content {
    line-height: 20px;
    width: 100%;
  }

  svg {
    position: absolute;
    bottom: -1.1em;
    z-index: -1;
    width: 100%;
    left:0;
  }
  svg path {
    fill: $yellow !important;
  }
}

.test-app-form {

  &__name {
    width: 12.5em;
  }

  &__price {
    width: 6.3em;
  }

  &:after {
    content: '';
    border-bottom: 2px solid black;
    width: 100%;
  }
}

.test-app-table {
  table {
    border-collapse: collapse;
    width: 100%;

    tr {
      height: 3.5em;

      &:nth-child(2n) {
        background: #d3d3d3;
      }
    }

    th {
      background: #a0a0a0;
    }

    td, th {
      text-align: left;
      padding: 0.2em;
      border: 1px solid black;
    }
  }
}
